/*
*= require twitter/bootstrap
* require twitter/bootstrap/_responsive
* require jquery.ui.dialog
* require vendor/jquery.ui.dialog
*= require vendor/flat-ui
*= require common
*/
@import "bourbon";

@mixin border-radius($r) {
  @include prefixer(border-radius, $r, spec);
}

.form-horizontal .control-group {
  margin-bottom: 15px;
}

.navbar, .navbar-inner {
  //border-bottom: 1px solid #fff;
  //background-color: #BDC3C7;
}

#monthly_growth {
  //width: 44px;
}

#dialog_region form {
  margin: 0;
}

.difficulty-chart {
  background-color: #F9FAFB;
}

#difficulty_chart {
  width: 860px;
  height: 400px;
  margin: 20px auto;
}

table.assets {
  font-size: 90%;
  td, th {
    padding: 4px 12px;
  }
  td.controls {
    font-size: 20px; width: 55px;
    i { padding: 0 3px;}
  }
}

table.assets-results {
  font-size: 80%;
  td, th {
    padding: 4px 8px;
  }
  tr.asset {
    cursor: pointer;
  }
  tr.asset:hover {
    background-color: #eee;
  }
  tr.active, tr.active:hover {
    background-color: #1abc9c;
    color: #fff;
    font-weight: bold;
  }
}

table.result-summary {
  font-size: 96%;
  margin: 0 0 5px 20px;
  width: 100%;
  td {width: 30%;}
  td.power-cost { width: 40%; }
}

.current-result {
  background-color: #F9FAFB;
  margin-left: 16px;
  padding: 16px 0 16px 16px;
}

#result_chart {
  width: 572px; height: 340px;
}

.donate-img {
  height: 125px;
  width: 125px;
  position: relative;
  left: -3px;
  top: 3px;
}
