<div id="chart_div" style="width: 900px; height: 400px;"></div>

<ul style="">
  <li><a data-value="1">ASICMiner Block Erupter Blade</a></li>
  <li><a data-value="2">ASICMiner Block Erupter USB</a></li>
  <li><a data-value="3">Avalon Batch 1</a></li>
  <li><a data-value="4">Avalon Batch 2</a></li>
  <li><a data-value="5">Avalon Batch 3</a></li>
  <li><a data-value="6">Butterfly Labs Bitforce 5 GH/s SC</a></li>
  <li><a data-value="7">Butterfly Labs Bitforce 25 GH/s SC</a></li>
  <li><a data-value="8">Butterfly Labs Bitforce 50 GH/s Miner</a></li>
  <li><a data-value="9">Butterfly Labs Bitforce 500 GH/s Miner</a></li>
  <li><a data-value="10">KnCMiner Mercury</a></li>
  <li><a data-value="11">KnCMiner Saturn</a></li>
  <li><a data-value="12">KnCMiner Jupiter</a></li>
  <li><a data-value="13">Krater The Krater Miner</a></li>
  <li><a data-value="14">TerraHash Klondike 16</a></li>
  <li><a data-value="15">TerraHash Klondike 64</a></li>
  <li><a data-value="16">TerraHash DX Mini</a></li>
  <li><a data-value="17">TerraHash DX Large</a></li>
</ul>
