<div class="row">
  <div class="span12 center-content">
    <h1>BitReturn</h1>
  </div>
</div>

<div id="difficulty_region">

</div>

<div id="assets_region">
  Butterfly Labs 5 GH/s SC
</div>

<div id="return_region">

</div>
