<div class="row">
  <div class="span12 center-content">
    <h1>BitReturn</h1>
  </div>
</div>
<br/>
<div id="difficulty_region"></div>

<div id="assets_region"></div>

<div id="result_region"></div>

<div id="dialog_region" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
