<div class="container">
  <div class="row">
    <div class="span12 center-content">
      <h1>BitReturn</h1>
    </div>
  </div>

  <div id="difficulty_region" class="row">

  </div>

  <div id="assets_region" class="row">

  </div>

  <div id="return_region" class="row">

  </div>

</div>
