//@import "bourbon";
//
//@mixin border-radius($r) {
//  @include prefixer(border-radius, $r, spec);
//}
//
//.btn {
//  @include border-radius(3px);
//}
//
//.btn-large {
//  @include border-radius(4px);
//}
//
//.btn i {
//  position: relative;
//  top: 2px;
//}

// flat-ui overrides
.navbar .nav > li > a {
  padding: 15px 20px 13px 0;
}

.navbar .brand {
  padding: 9px 28px 12px 32px;
}

label.checkbox, .radio {
  padding-left: 20px;
}

// end flat-ui overrides

.clear-right { clear: right;}
.clear-left { clear: left;}
.clear-both { clear: both;}

i.space-right {
  padding-right: 2px;
}

.center-content {
  text-align: center;
  > a {
    margin-left: auto;
    margin-right: auto;
  }
}

a.disabled {
  pointer-events: none;
}

.form-button {
  margin-top: 10px;
  width: 206px !important;
}

.block {
  hr {
    margin: 4px 0;
  }
}

select {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 8px 5px;
  height: 41px;
  text-indent: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition: border .25s linear, color .25s linear;
  -o-transition: border .25s linear, color .25s linear;
  transition: border .25s linear, color .25s linear;
}

select.currency {
  width: 5em;
}
